            .fab-message {
                position: fixed;
                width: 100%;
                bottom: 0;
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                -webkit-transition: all .3s;
                transition: all .3s;
                z-index: 15
            }
            
            .fab-message__button {
                float: right;
                padding: 20px;
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                -webkit-transition: all .3s;
                transition: all .3s
            }
            
            .fab-message__content {
                background: #fff;
                box-shadow: none;
                color: #151515;
                padding: 20px;
                -webkit-transition: all .3s;
                transition: all .3s;
                color: #3f3f3f
            }
            
            .fab-message__content a {
                color: #0054a6;
                cursor: pointer;
            }
            
            .fab-message__content h3 {
                color: #9C27B0;
            }
            
            @media (min-width: 1400px) {
                .fab-message__button {
                    margin-right: 50px
                }
                .fab-message__content {
                    padding: 20px 200px
                }
            }
            
            .fab-message.is-open {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                z-index: 15
            }
            
            .fab-message.is-open .fab-message__button {
                -webkit-transform: translateY(-2em);
                transform: translateY(-2em)
            }
            
            .fab-message.is-open .fab-message__content {
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
            }
            
            .at-button {
                position: absolute;
                right: 24px;
                bottom: 24px;
                background: #9C27B0;
                width: 48px;
                height: 48px;
                padding: 12px;
                z-index: 15;
                border-radius: 100%;
                box-sizing: border-box;
                color: #666;
                -webkit-animation: at-ripple .6s linear infinite;
                animation: at-ripple .6s linear infinite
            }
            
            .at-button:hover i {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg)
            }
            
            .at-button i {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transition: .3s ease;
                transition: .3s ease
            }
            
            @-webkit-keyframes at-ripple {
                0% {
                    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
                }
                100% {
                    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)
                }
            }
            
            @keyframes at-ripple {
                0% {
                    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
                }
                100% {
                    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)
                }
            }
            
            .at-button svg {
                position: absolute
            }
            
            .at-button .svg-cross {
                opacity: 0;
                transition: opacity .25s
            }
            
            .at-button .svg-question-mark {
                opacity: 1;
                transition: opacity .25s
            }
            
            .toggle-icon.at-button .svg-question-mark {
                opacity: 0
            }
            
            .toggle-icon.at-button .svg-cross {
                opacity: 1
            }
            
            a.at-button.toggle-icon {
                bottom: -20px
            }